/* This is the CSS styling for the ListTitle component */

.title-text {
  text-align: center;
  color: white;
}

.title-box {
  background-color: rgb(50, 40, 141);
  width: 40%;
  margin: auto;
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
}
