.list-item {
  border-bottom: 2px solid black;
  font-weight: bold;
  display: flex;
}

.list-item-text {
  margin-left: 40px;
}

.label {
  margin-left: 50px;
}

.checkbox {
  margin-top: 100%;
  transform: scale(1.5);
}
